In [1]:
import numpy as np # linear algebra

from sklearn                        import metrics, svm
from sklearn.linear_model           import LogisticRegression
from sklearn import preprocessing
from sklearn import utils

from sklearn import linear_model, datasets
from sklearn.model_selection import GridSearchCV
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder # Machine learning
import seaborn as sns # data visualization
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [2]:
import os
print(os.listdir("../Predicting_House_Prices_In_Bengaluru"))

['.git', '.gitattributes', '.ipynb_checkpoints', 'Data', 'Predicting House Prices In Bengaluru.ipynb', 'README.md', 'Untitled.ipynb']

In [3]:
train = pd.read_csv('C:\Users\gunasekaran.sengodan\Documents\Predicting_House_Prices_In_Bengaluru\Data/Predicting-House-Prices-In-Bengaluru-Train-Data.csv')
test = pd.read_csv('C:\Users\gunasekaran.sengodan\Documents\Predicting_House_Prices_In_Bengaluru\Data/Predicting-House-Prices-In-Bengaluru-Test-Data.csv')

In [4]:
train.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
area_type       13320 non-null object
availability    13320 non-null object
location        13319 non-null object
size            13304 non-null object
society         7818 non-null object
total_sqft      13320 non-null object
bath            13247 non-null float64
balcony         12711 non-null float64
price           13320 non-null float64
dtypes: float64(3), object(6)
memory usage: 936.6+ KB

In [6]:
train.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

print('Training Features shape: ', train.shape)
print('Testing Features shape: ', test.shape)

('Training Features shape: ', (13320, 6229))
('Testing Features shape: ', (1480, 1834))

In [8]:
train = train.apply(lambda x: x.fillna(x.mean()),axis=0)
test = test.apply(lambda x: x.fillna(x.mean()),axis=0)

In [9]:
train.head()

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_14-Jul,availability_14-Nov,availability_15-Aug,...,total_sqft_990,total_sqft_991,total_sqft_992,total_sqft_993,total_sqft_994,total_sqft_995,total_sqft_996,total_sqft_997,total_sqft_998,total_sqft_999
0,2.0,1.0,39.07,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
test.head()

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,availability_15-Oct,availability_16-Apr,availability_16-Jul,...,total_sqft_970,total_sqft_975,total_sqft_978,total_sqft_984,total_sqft_985,total_sqft_990,total_sqft_992,total_sqft_993,total_sqft_995,total_sqft_996
0,2.0,2.0,NaN,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.0,2.0,NaN,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,2.0,NaN,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,NaN,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,NaN,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
train_labels = train['price']

# Align the training and testing data, keep only columns present in both dataframes
train, test = train.align(test, join = 'inner', axis = 1)

print('Training Features shape: ', train.shape)
print('Testing Features shape: ', test.shape)

('Training Features shape: ', (13320, 1531))
('Testing Features shape: ', (1480, 1531))

In [12]:
X_train = train
Y_train = train_labels
X_test = test
X_train.shape, Y_train.shape, X_test.shape

((13320, 1531), (13320L,), (1480, 1531))

In [13]:
param_grid = {'C': [0.001, 0.01, 0.1, 1], 'max_iter' : [5000, 10000, 15000, 20000]}

In [14]:
logistic = linear_model.LogisticRegression()

In [15]:
penalty = ['l1', 'l2']

In [16]:
C = np.logspace(0, 4, 10)

In [17]:
hyperparameters = dict(C=C, penalty=penalty)

In [18]:
clf = GridSearchCV(logistic, hyperparameters, cv=5, verbose=0)

In [19]:
clf = GridSearchCV(cv=5, error_score='raise',
       estimator=linear_model.LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'penalty': ['l1', 'l2'], 'C': [1.00000e+00, 2.78256e+00, 7.74264e+00, 2.15443e+01, 5.99484e+01,
       1.66810e+02, 4.64159e+02, 1.29155e+03, 3.59381e+03, 1.00000e+04]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [20]:
#added to fix ValueError: Unknown label type: 'continuous'
lab_enc = preprocessing.LabelEncoder()
training_encoded = lab_enc.fit_transform(Y_train)
print(training_encoded)
print(utils.multiclass.type_of_target(Y_train))
print(utils.multiclass.type_of_target(Y_train.astype('int')))
print(utils.multiclass.type_of_target(training_encoded))

[ 392 1599 1047 ... 1002 1883   29]
continuous
multiclass
multiclass

In [21]:
clf = LogisticRegression()

In [22]:
clf.fit(X_train, training_encoded)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [23]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [25]:
#ValueError: Input contains NaN, infinity or a value too large for dtype('float64')
#np.all(np.isnan(X_test))
pd.isnull(X_test).sum() > 0

bath                              False
balcony                           False
price                              True
area_type_Built-up  Area          False
area_type_Carpet  Area            False
area_type_Plot  Area              False
area_type_Super built-up  Area    False
availability_15-Oct               False
availability_16-Jul               False
availability_17-Apr               False
availability_17-Aug               False
availability_17-Dec               False
availability_17-Jan               False
availability_17-Jul               False
availability_17-Jun               False
availability_17-May               False
availability_17-Nov               False
availability_17-Sep               False
availability_18-Apr               False
availability_18-Aug               False
availability_18-Dec               False
availability_18-Feb               False
availability_18-Jan               False
availability_18-Jul               False
availability_18-Jun               False
availability_18-Mar               False
availability_18-May               False
availability_18-Nov               False
availability_18-Oct               False
availability_18-Sep               False
                                  ...
total_sqft_904                    False
total_sqft_905                    False
total_sqft_909                    False
total_sqft_914                    False
total_sqft_920                    False
total_sqft_925                    False
total_sqft_929                    False
total_sqft_933                    False
total_sqft_934                    False
total_sqft_935                    False
total_sqft_937                    False
total_sqft_939                    False
total_sqft_940                    False
total_sqft_941                    False
total_sqft_950                    False
total_sqft_955                    False
total_sqft_957                    False
total_sqft_958                    False
total_sqft_960                    False
total_sqft_965                    False
total_sqft_970                    False
total_sqft_975                    False
total_sqft_978                    False
total_sqft_984                    False
total_sqft_985                    False
total_sqft_990                    False
total_sqft_992                    False
total_sqft_993                    False
total_sqft_995                    False
total_sqft_996                    False
Length: 1531, dtype: bool

In [26]:
np.isfinite(X_test).all()
X_test = X_test.fillna(X_train.mean())

In [27]:
X_test
print("LogisticRegression")

LogisticRegression

In [28]:
print(clf.predict(X_test))

[1353 1689 1622 ... 1282 1146  940]

In [32]:
git clone --recursive https://github.com/dmlc/xgboost

SyntaxError: invalid syntax (<ipython-input-32-6dcede5fe7e9>, line 1)

In [30]:
import xgboost as xgboost
from xgboost import XGBRegressor
param_grid = {
    'colsample_bytree':[0.6],
    'gamma':[0,1],
    'min_child_weight':[5,10],
    'learning_rate':[0.01, 0.05],
    'max_depth':[1, 2],
    'n_estimators':[10000, 12000, 15000],
    'subsample':[0.6]  
}

xgb = XGBRegressor() 
grid = GridSearchCV(xgb, param_grid, verbose=2)
grid = grid.fit(X_train, Y_train)
Y_pred = grid.predict(X_test)

ImportError: No module named xgboost